<!doctype html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Basic Budget Builder</title>
    <link href="css/angular-bootstrap.css" rel="stylesheet">
    <script src="js/lib/node_modules/mobile-detect/mobile-detect.js"></script>
    <link rel="stylesheet" href="js/lib/node_modules/bootstrap/b/css/bootstrap.min.css">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-app="reset_password" ng-controller="resetPasswordController" ng-cloak class="ng-cloak">
<div ng-if=!isMobile() ng-include="'desktop/update_content.html'"></div>
<div ng-if=isMobile() ng-include="'mobile/update_content.html'"></div>

<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/security/resetPassword.js"></script>
<script src="js/security/updatePassword.js"></script>
</body>
</html>
