.reset-panel{
    float: left;
    margin: 100px;
    padding: 16px;
    width: 800px;
    background-color: white;
    color: var(--text-colour-dark);
}
.reset-entry{
    float:left;
    padding-top:32px;
    width: 100%;
}
.reset-button{
    float:left;
    text-align: right;
    width: 100%;
}
.reset-error-message{
    float:left;
    width: 100%;
    height: 214px;
}