:root{
    --main-green-light:rgb(220,240,230);
    --main-green-dark:rgb(45, 75, 60);
    --text-colour-dark:rgb(50,111,85);
    --header-footer-light:rgb(210,210,210);
    --header-footer-dark:rgb(50,50,50);
}
html{
    min-width: 770px;
    min-height: 300px;
    background-color: var(--main-green-light);
    overflow: hidden;
}
body{
    margin:0;
}
h1{
    margin:0;
    padding-bottom:16px;
    color: var(--text-colour-dark);
}
h3{
    margin:0;
    color: var(--text-colour-dark);
    float:left;
    width: 268px;
}
.red{
    color:#ff0000;
}
.header{
    overflow: hidden;
    height: 42px;
    background-color: var(--header-footer-dark);
    text-align: left;
    color: var(--header-footer-light);
}
.title{
    float:left;
    padding: 14px 0 0 16px;
}
.header a{
    padding: 14px 16px 0 0;
    float: right;
}
.header a:link, .header a:visited{
    color: var(--main-green-light);
}
.header a:hover {
    color: var(--header-footer-light);
}
.index-nav{
    float: right;
}
.index-nav2{
    float: right;
}
.footer{
    clear: both;
    position: relative;
    height: 32px;
    margin-top: -22px;
    padding-top: 8px;
    background-color: var(--header-footer-dark);
    text-align: center;
    color: var(--header-footer-light);
}
.body{
    background-color: var(--main-green-dark);
    height:calc(100vh - 52px);
}